    /*
1ero_Reset
*/

html,body,h1,h2,h3,h4,h5,h6,p,ol,ul,li,address,form{
    padding: 0;
    margin: 0;
    font-size: 100%;
    font-weight: normal;
}

ol{
    margin-left: 1.4em;
    list-style: decimal;
}

ul{
    margin-left: 1.4em;
    list-style: square;
}

img{
    border: 0;
}

/*Fin del reset?_______*/

body{
    text-align: center;
    font-family: sans-serif;
    padding-top: 13%;

}

.todo{
    background-color: rgb(209, 134, 134);
    width: 30em;
    height: 15em;
    border: 2px solid black;
    border-radius: 10px;
    margin:  auto;
    
}   