    /*
1ero_Reset
*/

html,body,h1,h2,h3,h4,h5,h6,p,ol,ul,li,address,form{
    padding: 0;
    margin: 0;
    font-size: 100%;
    font-weight: normal;
}

ol{
    margin-left: 1.4em;
    list-style: decimal;
}

ul{
    margin-left: 1.4em;
    list-style: square;
}

img{
    border: 0;
}

a{
    text-decoration: none;
}

/*Fin del reset?_______*/




*{
    font-family: poppins;
}

body{
    background: rgb(0, 0, 0);
}

header{
    background: rgb(131, 131, 131);
}

.header-div{
    display: flex;
    padding: 10px 50px;
    justify-content: space-between;
    margin: auto;
    max-width: 100%;
    background: rgb(0, 0, 0);
    color: #ffffff;
    

}

h1{
    font-size: 30px;
    cursor: pointer;
}

.buscador{
    width: 50vw; /*700px*/
    height: 40px;
    background: transparent;
    border: none;
    border-bottom: 3px solid rgb(255, 255, 255);
    
    padding: 0px 10px;
    cursor: pointer;
}

::placeholder{
    color: rgb(255, 255, 255);  
}

.input-div{
    color: #ffffff;
}

button{
    cursor: pointer;
}

.lupa{
    
    font-size: 25px;
    border: none;
    background: transparent;
    color: #ffffff;
}



.brillo{
    font-size: 25px;
    background: transparent;
    border: none;
    margin-right: 30px;
    color: rgb(131, 131, 131);
}

.notificacion{
    font-size: 25px;
    background: transparent;
    border: none;
    color: #ffffff;
}

.ubicacion{
    font-size: 25px;
    background: transparent;
    border: none;
    color: #ffffff;
}

.like{
    font-size: 25px;
    background: transparent;
    border: none;
    color: #ffffff;
}

.carrito{
    font-size: 25px;
    background: transparent;
    border: none;
    color: #ffffff;
}


.user{
    font-size: 35px;
    margin-left: 50px;
    padding: 0%;
    background: transparent;
    border: none;
    color: #ffffff;
}


/*parte de apartados*/


.nav-div{
    width: 80%;
    margin: auto;
}

.li-de-apartados{
    list-style: none;
    
}

.ul-de-apartados{
    padding: 0 20px ;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}


.apartados{
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    color: #ffffff;
    

}

/*Parte del main*/

